.home {
  padding: 20px;

  .tablewrap {
    table,
    tr,
    th,
    td {
      border: 1px solid;
    }

    .table {
      width: 100%;
    }

    th,
    td {
      padding-inline: 10px;
    }

    .table__title {
      font-size: 20px;
      font-weight: 700;
    }

    .table__desc {
      font-size: 16px;
    }

    .fa-check {
      color: $green;
    }

    .fa-x {
      color: $red;
    }
  }

  .searchwrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .search__form {
    position: relative;
    margin-right: 10px;
  }

  .search__input {
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
  }

  .search__btn {
    position: absolute;
    top: 6px;
    right: 15px;
  }

  .filter__gender {
    cursor: pointer;
  }
}
