.home {
  padding: 20px;

  .tablewrap {
    table,
    tr,
    th,
    td {
      border: 1px solid;
    }

    .table {
      width: 100%;
    }

    th,
    td {
      padding-inline: 10px;
    }

    .table__title {
      font-size: 20px;
      font-weight: 700;
    }

    .table__desc {
      font-size: 16px;
    }

    .fa-check {
      color: $green;
    }

    .fa-x {
      color: $red;
    }
  }

  .searchwrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .search__form {
    position: relative;
    margin-right: 10px;
  }

  .search__input {
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
  }

  .search__btn {
    position: absolute;
    top: 6px;
    right: 15px;
  }

  .filter__gender {
    cursor: pointer;
  }
}

.wrappopup__delete {
  background-color: $bg-modal;
  bottom: 0;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;
  align-items: center;

  .popupdelete {
    max-width: 500px;
    background-color: $white;
    background: $white;
    box-shadow: 0px 3px 10px $bg-modal;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px 35px 35px;
    position: relative;
    margin: 0 20px;
    border-radius: 10px;
  }

  .popupdelete__content {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .popupdelete__btn {
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
    min-width: 50px;
  }

  .popupdelete__btn--cancel {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}
